<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neos.planner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Все разрешения запрошенные у пользователя устройства -->
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
        <uses-permission android:name="android.permission.VIBRATE"/>

        <!-- Все Активити которые используются в приложении-->
        <activity
            android:name=".activity.PlannerMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PlannerAddNoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PlannerMainActivity"/>
        </activity>

        <activity
            android:name=".activity.PlannerEditNoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PlannerMainActivity"/>
        </activity>

        <activity
            android:name=".activity.PlannerAddEventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PlannerMainActivity"/>
        </activity>

        <activity
            android:name=".activity.PlannerEditEventActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PlannerMainActivity"/>
        </activity>

        <activity
            android:name=".activity.PlannerSearchEventOrNoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PlannerMainActivity"/>
        </activity>

        <!-- Все приемщики намерений которые используются в приложении-->
        <receiver
            android:name=".receiver.DeviceRebootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.EventRemindReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Все сервисы которые используются в приложении -->
        <service android:name=".service.UndoAlarmEventsService"/>

    </application>

</manifest>
